*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
background-image: url("https://img.freepik.com/premium-photo/blurred-indian-temple-interior-with-no-people-classical-interior-light-colors-background-wallpaper_935074-28827.jpg");
/* width: 100vw; */
background-size: cover;
padding-top: 20px;
background-position: center;
min-height: 100vh;

}
.place{
    font-size: 50px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;

    
}
.card{
     /* height:550px;
    width: 400px;  */
    background-color: navajowhite;
    color: black;
    /* margin-bottom: 20px; */
    margin-top: 30px;  
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.containor{
   display: flex;
   grid-template-columns: (2,1fr);
   justify-items: center;
    gap: 20px;

}
.image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.title{
    color: black;
    font-size: 28px;
    /* font-weight: 600; */
    /* font-family: sans-serif; */
    text-align: center;
    margin-top: 10px;
}
/* .content{
    color:grey;
    font-size: 20px;
    font-weight: 400;
    font-family:sans-serif;
    margin-left: 16px;
    margin-top: 10px;
    text-underline-offset: none;
} */
.btn{
    /* height: 40px;
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    border: none;
    border-radius: 50px; */
    background-color: black;
    color: white;
    display: inline-block;
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
  }
  @media (max-width:768px){
    .containor{
        grid-template-columns:1fr ;
    }
    
  }
    
   